/* Generales */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 254, 190);
}

header {
  color: black;
  padding: 10px;
}

img {
  display: block;
  margin: auto;
  padding: 5px;
}

.centrar {
  text-align: center;
}

/* Nav */

.títuloNav {
  animation-name: semáforo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0s;
  color: rgb(255, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  padding: 0px 5px 0px 5px;
}

@keyframes semáforo {
  20% {
    color: rgb(255, 0, 0);
  }

  40% {
    color: rgb(255, 255, 0);
  }

  60% {
    color: rgb(0, 255, 0);
  }
}

ul li {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.párrafoSiguienteEtapa {
  align-self: center;
  background: linear-gradient(red, yellow, rgb(0, 255, 0));
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bolder;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

/* Body */

.párrafoPrincipal {
  align-self: center;
  background: linear-gradient(0.2turn, red, yellow, rgb(0, 255, 0));
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bolder;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

h5 {
  animation-name: blancoYNegro;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0s;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bolder;
  margin: 10px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  text-transform: uppercase;
}

@keyframes blancoYNegro {
  25% {
    color: orange;
  }

  50% {
    color: black;
  }

  75% {
    color: orange;
  }
}

h6 {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bolder;
  margin: 10px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

/* Instructivo */

.instructivoFondo {
  background-color: rgb(39, 39, 39);
}

.instructivoTítulo {
  background: rgb(90, 90, 90);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  margin: 10px 75px 10px 75px;
}

.instructivoPrimerPárrafo {
  background: red;
  font-weight: bolder;
  margin: 10px;
}

.instructivoSegundoPárrafo {
  background: yellow;
  font-weight: bolder;
  margin: 10px;
}

.instructivoTercerPárrafo {
  background: rgb(0, 255, 0);
  font-weight: bolder;
  margin: 10px;
}

/* Formulario */

.errorBorde {
  border: 2px solid red;
}

.errorTexto {
  color: red;
}

.okBorde {
  border: 2px solid rgb(0, 210, 0);
}

.okTexto {
  color: rgb(0, 210, 0);
}

.formularioPárrafo {
  align-self: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

button {
  margin: 20px 10px 20px 10px;
}

/* Simulador */

.simuladorTítulos {
  background: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  margin: 0px 50px 0px 50px;
}

.simuladorPárrafos {
  align-self: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bolder;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.porcentajeBajo {
  background: rgb(0, 255, 0);
  margin: 0px 50px 0px 50px;
}

.porcentajeMedio {
  background: yellow;
  margin: 0px 50px 0px 50px;
}

.porcentajeAlto {
  background: red;
  margin: 0px 50px 0px 50px;
}

/* Carousel */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
}

.párrafosCarousel {
  align-self: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

/* Footer */

.contenedorDeTips {
  display: flex;
  justify-content: center;
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10 px 5px;
}

/* Footer */

.footer {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  color: #000000;
  background-color: rgb(253, 252, 160);
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
}

.footerFlex {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowwrap;
  justify-content: center;
}

.footerFlexHijos {
  align-self: auto;
  flex-basis: initial;
  flex-grow: initial;
  flex-shrink: auto;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: normal;
  order: auto;
  padding: 10px 10px 10px 10px;
}

footer section img:hover {
  transform: scale(1.2, 1.2);
}

label {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

small {
  color: #000000;
  font-family: "Courier New", Courier, monospace;
}
